---
export const prerender = true;

import type { GetStaticPaths } from "astro";

import { PAGE_SIZE } from "@constants/constants";
import { LinkPresets } from "@constants/link-presets";
import { LinkPreset } from "@/types/config";
import { getSortedPosts } from "@utils/post";
import Pagination from "@components/pagination.astro";
import PostPage from "@components/postPage.astro";
import GridLayout from "@layouts/grid.astro";
import BackwardButton from "@components/backwardButton.astro";


export const getStaticPaths = (async ({ paginate }) => {
    const allBlogPosts = await getSortedPosts();
    return paginate(allBlogPosts, { pageSize: PAGE_SIZE, params: { page: undefined } });
}) satisfies GetStaticPaths;

const { page } = Astro.props;

const pageTitle = LinkPresets[LinkPreset.Blog].name;
const pageDescription = LinkPresets[LinkPreset.Blog].description;
const len = page.data.length;
---

<GridLayout title={pageTitle} description={pageDescription}>
    <div class="flex w-full rounded-(--radius-large) overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full">
            <BackwardButton currentPath={Astro.url.pathname} />

            <header class="mb-8">
                <h1 class="text-3xl font-bold text-neutral-900 dark:text-neutral-100 mb-3">
                    {pageTitle}
                </h1>
                {pageDescription && (
                    <p class="text-neutral-600 dark:text-neutral-400">
                        {pageDescription}
                    </p>
                )}
            </header>

            <PostPage page={page}></PostPage>
            <Pagination class="mx-auto onload-animation-up" page={page} basePath="/blog" style={`animation-delay: ${len * 50}ms`}></Pagination>
        </div>
    </div>
</GridLayout>
